.page {
    background-color: #f4f4f9;
    width: 100%;
    position: relative;
    padding: 3vw;
}
@media (min-width: 768px) {
    .page {
        padding-right: 20vw;
        padding-left: 20vw;
    }
}

.content {
    h1, h2, h3, h4, h5, h6 {
        color: #007acc;
    }
    a {
        color: #007acc;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.graph {
    width: 100%;
    min-height: 50vh;
}
@media (min-width: 768px) {
    .graph {
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Sets the color of the arrows to black */
}

.graph-title {
    color:midnightblue; 
    font-size: 20px;
}